@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 7vh;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/*---LIST OF SECTIONS---
Navbar
Button Skip
WakeLite
Who Are We
The Product
About Us
Contact
Footer
----------------------*/

/*----------------------
    Start of Navbar
----------------------*/
.Navbar {
  align-items: center;
  background-color: white;
  border-bottom: orange solid 2px;
  display: flex;
  height: 7vh;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.Logo {
  margin-left: 10%;
  white-space: nowrap;
}
.Logo img {
  border-radius: 50%;
  transition: 1s;
  width: 6vh;
}
.Logo img:hover {
  box-shadow: 0 0 15px 10px yellow;
}
.Logo a {
  align-items: center;
  border-radius: 50px;
  color: black;
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  padding-right: 18px;
  text-decoration: none;
  transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out;
}
.Logo a:hover {
  background-color: orange;
  color: white;
}
#Navbar-ul {
  margin-right: 10%;
}
.Navbar li {
  display: inline-block;
  list-style: none;
}
.Navbar-Links {
  border-radius: 20px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color 0.6s, color 0.3s;
}
.Navbar-Links:hover {
  background-color: orange;
  color: white;
}

.Navbar-Links.active {
  background-color: orange;
  color: white;
}

#Navbar-Drop-Down {
  display: none;
}
/*----------------------
    End of Navbar
----------------------*/

/*----------------------
    Start of Button Skip
----------------------*/
.Button-Skip-Up {
  background-color: orange;
  border-radius: 16px;
  border: rgb(255, 150, 0) solid 2px;
  bottom: 0;
  margin: 12px 8px;
  position: fixed;
  right: 0;
}
.Button-Skip-Up img {
  filter: invert(100%);
  padding: 8px;
  transform: rotate(-90deg);
  transition: 0.2s;
  width: 24px;
}
.Button-Skip-Up img:hover {
  width: 30px;
}
/*----------------------
    End of Button Skip
----------------------*/

/*----------------------
    Start of WakeLite
----------------------*/
.Start-Div {
  height: 100vh;
}
.Start-Div img {
  height: 120%;
  margin-left: -15%;
  margin-top: -5%;
  object-fit: cover;
  position: fixed;
  width: 115%;
  z-index: -10;
}
.Start-Div h1 {
  color: white;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 3.5rem;
  margin-left: 60%;
  margin-top: 20vh;
  position: fixed;
  text-shadow: 1px 1px orange, 2px 2px orange, 3px 3px orange, 4px 4px orange;
  z-index: -9;
}
.Start-Div h2 {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-left: 60%;
  margin-top: 55vh;
  position: fixed;
  text-align: center;
  text-shadow: 1px 1px orange, 2px 2px orange, 3px 3px rgba(255, 166, 0, 0.5);
  z-index: -9;
}
/*----------------------
    End of WakeLite
----------------------*/

#Divider1 {
  width: 100%;
  height: 6vh;
  background: linear-gradient(5deg, orange 20%, yellow 100%);
}

/*----------------------
    Start of Who Are We
----------------------*/
.WhoAreWe-Full {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
.WhoAreWe-Div {
  display: grid;
  gap: 40px 40px;
  grid-template-columns: 50% 50%;
  justify-content: center;
}
.WhoAreWe-Section {
  margin: auto;
}
.WhoAreWe-Div img {
  max-width: 450px;
  width: 100%;
}
#WhoAreWe-Section3 {
  text-align: center;
}
#WhoAreWe-p-Start {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: center;
}
#WhoAreWe-p1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#WhoAreWe-p2 {
  font-size: 1rem;
  line-height: 2rem;
}
#WhoAreWe-p3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
#WhoAreWe-br {
  display: none;
}
/*----------------------
    End of Who Are We
----------------------*/

#Divider2 {
  background: linear-gradient(5deg, orange 20%, yellow 100%);
  height: 6vh;
  width: 100%;
}

/*----------------------
    Start of The Product
----------------------*/
.TheProduct-Full {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
.TheProduct-Div {
  display: flex;
}
.TheProduct-Image {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 55%;
}
.TheProduct-Image img {
  width: 100%;
}
.TheProduct-Info {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 29%;
}
.TheProduct-Info p {
  line-height: 2.2rem;
  margin: 50px 0;
}
/*----------------------
    End of The Product
----------------------*/

#Divider4 {
  background: linear-gradient(5deg, orange 20%, yellow 100%);
  height: 6vh;
  width: 100%;
}

/*----------------------
    Start of About Us
----------------------*/
.AboutUs-Full {
  background-color: white;
  height: 100%;
  min-height: 100vh;
  padding: 10vh 0 8vh 0;
  width: 100vw;
}
.AboutUs-Full h1 {
  text-align: center;
}
.cardstacktop {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
.cardstackbot {
  display: flex;
  justify-content: center;
  margin: auto;
}
.flip-card {
  background-color: transparent;
  height: 300px;
  margin: 0 1.2%;
  perspective: 1000px;
  width: 300px;
}
.flip-card-inner {
  height: 300px;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 300px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden; /* safari */
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.flip-card-back {
  border-radius: 10px;
  border: orange solid 2px;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back h1 {
  color: black;
  font-size: 1.7rem;
  margin: 15% 0 7% 0;
}
.social {
  display: grid;
  font-size: 42px;
  gap: 15px 15px;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin: auto;
  width: 38%;
}
.social a {
  border-radius: 10px;
  border: transparent solid 2px;
  transition: 0.3s ease-out;
}
.social a:hover {
  border: orange solid 2px;
}
/*----------------------
    End of About Us
----------------------*/

#Divider5 {
  background: linear-gradient(5deg, orange 20%, yellow 100%);
  height: 6vh;
  width: 100%;
}

/*----------------------
    Start of Contact
----------------------*/
.Contact-Full {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
.Contact-Header1 {
  font-size: 1.5rem;
  margin: 8vh 30px 1vh 30px;
  text-align: center;
}
.Contact-Header1 span {
  display: inline-block;
}
.Contact-Header2 {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 50px;
  text-align: center;
}
.Contact-Header2 span {
  display: inline-block;
  white-space: nowrap;
}
.Contact-Header3 {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 120px;
  text-align: center;
}
.Contact-Header3 span {
  display: inline-block;
  white-space: nowrap;
}
.Contact-Header3 a {
  color: black;
  text-decoration: none;
}
.Contact-Header3 #phone-span {
  font-size: 1rem;
  font-weight: 400;
}
.Contact-Form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 520px;
  justify-content: space-between;
  margin: 4vh 50px 0 50px;
  max-width: 400px;
  padding: 0 16px;
}
.Contact-Form input,
textarea {
  background-color: white;
  border-radius: 8px;
  border: black solid 1px;
  font-size: 1rem;
  outline: none;
  padding: 16px;
  transition: 0.3s;
  width: 100%;
}
.Contact-Form input:not(.Contact-Submit input):focus,
textarea:focus,
.Contact-Submit input:hover {
  border: orange solid 1px;
  box-shadow: orange 0 0 0 1px;
}
.Contact-Submit {
  min-width: 100px;
  text-align: center;
  width: 30%;
}
.Contact-Submit input {
  cursor: pointer;
}
#Contact-Response {
  background-color: orange;
  border-radius: 8px;
  border: rgb(255, 150, 0) solid 2px;
  margin-top: 15px;
  opacity: 0;
  padding: 12px 18px;
  transform: translateY(50%);
  transition: 1s;
  visibility: hidden;
}
#Contact-Response.Response-Active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
#Contact-Reset {
  display: none;
}
/*----------------------
    End of Contact
----------------------*/

#Divider6 {
  width: 100%;
  height: 6vh;
  background: linear-gradient(5deg, orange 20%, yellow 100%);
}

.Order-Full {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  gap: 50px;
}

.Order-Images {
  outline: red dotted 1px;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Order-Images img {
  outline: orange dotted 1px;
  display: block;
  width: 100%;
}

.Order-Options {
  outline: blue dotted 1px;
  width: 30%;
}
.Order-Options h1 {
  margin-bottom: 30px;
}

.Order-Size {
  display: flex;
  margin-bottom: 30px;
}
.Order-Size-Buttons {
  cursor: pointer;
  padding: 5px;
  background-color: gray;
  border: black solid 1px;
}

.Order-Top-Color {
  display: flex;
  margin-bottom: 30px;
}
.Order-Top-Color-Buttons {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: gray;
  border: black solid 1px;
  border-radius: 50%;
}

#Order-Top-Color-Blue {
  background-color: blue;
}
#Order-Img-Top.Top-Blue {
  filter: sepia(8%) saturate(2000%) hue-rotate(160deg);
}

#Order-Top-Color-Pink {
  background-color: rgb(255, 172, 255);
}
#Order-Img-Top.Top-Pink {
  filter: sepia(10%) saturate(3000%) hue-rotate(290deg);
}

#Order-Top-Color-Orange {
  background-color: orange;
}
#Order-Img-Top.Top-Orange {
  filter: sepia(10%) saturate(3000%) hue-rotate(340deg);
}

#Order-Top-Color-Yellow {
  background-color: yellow;
}
#Order-Img-Top.Top-Yellow {
  filter: sepia(10%) saturate(3000%) hue-rotate(4deg);
}

#Order-Top-Color-White {
  background-color: White;
}
#Order-Img-Top.Top-White {
  filter: inherit;
}

.Order-Bottom-Color {
  display: flex;
  margin-bottom: 30px;
}
.Order-Bottom-Color-Buttons {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: gray;
  border: black solid 1px;
  border-radius: 50%;
}

.Order-ExtraFeatures {
  display: flex;
  flex-direction: column;
}
.Order-ExtraFeatures-Feature {
  display: flex;
  margin-bottom: 10px;
}
.Order-ExtraFeatures-Checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: black solid 1px;
  margin-left: 5px;
}

/*----------------------
    Start of Footer
----------------------*/
.Footer {
  align-items: center;
  background-color: white;
  border-top: orange solid 2px;
  bottom: 0;
  display: flex;
  height: 8vh;
  justify-content: space-evenly;
  width: 100%;
}
.Footer-Div {
  color: black;
  display: inline-flex;
  font-size: 1rem;
}
.Footer-Div a {
  color: black;
  font-weight: 600;
}
.Footer-Div a:visited a:active {
  color: inherit;
}
#Footer-Socials {
  display: inline-flex;
}
#Footer-Socials ul {
  display: inline-flex;
  list-style: none;
}
#Footer-Socials a {
  border-radius: 8px;
  border: transparent solid 2px;
  font-size: 1.1rem;
  margin: 0 2px;
  padding: 0 8px;
  padding: 2px 5px;
  transition: 0.2s;
}
#Footer-Socials a:hover {
  border: orange solid 2px;
}

@media only screen and (max-width: 1150px) {
  .Footer {
    flex-direction: column;
    height: 30vh;
  }
}
/*----------------------
    End of Footer
----------------------*/

/* Start of fading classes for JS fading */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}
.fade-left {
  transform: translateX(-80%);
}
.fade-right {
  transform: translateX(80%);
}
.fade-down {
  transform: translateY(10%);
}
.fade-in.appear {
  opacity: 1;
  transform: translateX(0);
}
/* End of fading classes for JS fading */

/*----------------------
    Start of Mobile Responsiveness
----------------------*/
@media only screen and (max-width: 850px) {
  /* Start of Navbar */
  .Logo {
    display: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #Navbar-ul {
    align-items: center;
    background-color: orange;
    display: none;
    flex-direction: column;
    height: 93vh;
    justify-content: space-evenly;
    margin: 0;
    position: absolute;
    right: 0;
    top: 7vh;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
    width: 50%;
  }
  #Navbar-ul.Navbar-active {
    display: flex;
  }
  #Navbar-ul.Navbar-active2 {
    transform: translateX(0);
  }
  .Navbar li a {
    padding: 25px;
  }
  #Navbar-Drop-Down {
    cursor: pointer;
    display: block;
    padding: 18px;
    position: absolute;
    right: 0;
    width: 28px;
  }
  /* End of Navbar */

  /* Start of Wake Lite */
  .Start-Div img {
    height: 100%;
    margin-left: -300px;
    width: inherit;
  }
  .Start-Div h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-left: 50%;
    margin-top: 7vh;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  .Start-Div h2 {
    bottom: 3vh;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-left: 50%;
    margin-top: 0;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  /* End of Wake Lite */

  /* Start of Who Are We */
  .WhoAreWe-Full {
    padding: 10vh 0;
  }
  .WhoAreWe-Div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
  }
  #WhoAreWe-p-Start {
    font-size: 1.2rem;
  }
  #WhoAreWe-br {
    display: block;
  }
  #WhoAreWe-br-mobile-gone {
    display: none;
  }
  #WhoAreWe-Section4 {
    display: none;
  }
  /* End of Who Are We */

  /* Start of The Product */
  .TheProduct-Div {
    align-items: center;
    flex-direction: column;
  }
  .TheProduct-Info {
    margin: 0;
    width: 80%;
  }
  .TheProduct-Info br {
    display: none;
  }
  /* End of The Product */

  /* Start of About Us */
  .TheCrew-Div {
    padding: 12vh 0 20vh 0;
  }
  /* End of About Us */

  /* Start of Contact */
  .Contact-Full {
    padding: 10vh 0;
  }
  .Contact-Header1 {
    margin-bottom: 2vh;
  }
  .Contact-Header2,
  .Contact-Header3 {
    font-size: 1rem;
  }
  .Contact-Header3 a {
    text-decoration: underline;
  }
  .Contact-Form {
    height: 400px;
  }
  .Contact-Form input,
  textarea {
    font-weight: 400;
  }
  .Contact-Form textarea {
    height: 20vh;
  }
  /* End of Contact */

  /* Start of Button Skip */
  .Button-Skip-Up {
    margin: 6px;
  }
  .Button-Skip-Up img {
    padding: 4px;
  }
  .Button-Skip-Up img:hover {
    width: 24px;
  }
  /* End of Button Skip */
}
/*----------------------
    End of Mobile Responsiveness
----------------------*/
