@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  line-height: 2em; /*Might need to change, adds line height to pictures and possibly other content*/
}

body {
  padding-top: 7vh;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 7vh;
  width: 100%;
  border-bottom: orange solid 2px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.Logo {
  margin-left: 10%;
}
.Logo img {
  width: 6vh;
  border-radius: 50%;
  transition: 1s;
}
.Logo img:hover {
  box-shadow: 0 0 15px 10px yellow;
}
.Logo a {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: black;
  padding-right: 18px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: background-color 0.6s, color 0.3s;
}
.Logo a:hover {
  color: white;
  background-color: orange;
}
.Logo a:active, a:visited {
  color: inherit;
}
nav ul {
  margin-right: 10%;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  padding: 8px 10px;
  border-radius: 20px;
  transition: background-color 0.6s, color 0.3s;
}
nav li a:hover {
  color: white;
  background-color: orange;
}
nav li a:active, a:visited {
  color: inherit;
}

.Start-Div {
  height: 100vh;
  width: 100%;
}
.Start-Div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.Start-Div h1 {
  font-size: 2.8rem;
  line-height: 1em;
  position: absolute;
  color: white;
  font-weight: 800;
  text-shadow: 1px 1px orange, 2px 2px orange, 3px 3px orange, 4px 4px orange;
  margin-top: 10%;
  margin-left: 64%;
  transition: 1s;
}
.Start-Div h1:hover {
  text-shadow: 1px -1px orange, 2px -1px orange, 3px -2px orange, 4px -2px orange, 5px -3px orange, 6px -3px orange, 7px -4px orange, 18px -8px rgba(0, 0, 0, 0.3);
}

#Divider1 {
  width: 100%;
  height: 8vh;
  margin-top: -4vh;
  margin-bottom: 18vh;
  /* transform: rotate(-1deg); */
  background: linear-gradient(5deg, orange 20%, yellow 100%);
}

.WhoAreWe-Div {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 40vh;
  justify-content: center;
}
.WhoAreWe-Section {
  margin: auto;
}
.WhoAreWe-Div img {
  width: 350px;
}
#WhoAreWe-p-Start {
  font-size: 1.2rem;
}
#WhoAreWe-p1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
#WhoAreWe-p2 {
  font-size: 0.9rem;
}
#WhoAreWe-p3 {
  font-size: 0.8rem;
}


#Divider2 {
  width: 100%;
  height: 6vh;
  margin-top: 18vh;
  margin-bottom: 18vh;
  /* transform: rotate(-1deg); */
  background: linear-gradient(5deg, orange 20%, yellow 100%);
}


.OurMission-Div {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: fit-content;
  justify-content: center;
}
.OurMission-Section {
  margin: auto;
}
.OurMission-Div img {
  width: 100%;
}
.OurMission-Div h1 {
  font-size: 1.2rem;
  margin-bottom: 4vh;
}
.OurMission-Div h2 {
  font-size: 1.1rem;
  margin-bottom: 2vh;
}
.OurMission-Div ul {
  list-style: none;
}
.OurMission-Div li {
  margin-bottom: 2vh;
}
.OurMission-Div li::before {
  margin-left: -8px;
  margin-right: 2px;
  content: "|";
  color: orange;
}

/* Jeg heiv inn masse under denne kommentaren - George */

#Divider3 {
  width: 100%;
  height: 6vh;
  margin-top: 18vh;
  margin-bottom: 18vh;
  /* transform: rotate(-1deg); */
  background: linear-gradient(5deg, orange 20%, yellow 100%);
}

.TheCrew-Div {
  padding-bottom: 50px;
}
.TheCrew-Div h1 {
  margin-top: 5%;
  text-align: center;
}
.cardstacktop {
  display: flex;
  margin: 10px auto 20px auto;
  width: 1020px;
}
.cardstackbot {
  display: flex;
  width: 680px;
  margin: 60px auto 30px auto;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* safari */
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
}
.social {
  font-size: 42px;
}
.social a {
  background-color: orange;
  transition: 0.3s linear;
  border-radius: 10%;
}
.social a:hover {
  background-color: yellow;
}

#Divider4 {
  width: 100%;
  height: 6vh;
  margin-top: 18vh;
  margin-bottom: 18vh;
  /* transform: rotate(-1deg); */
  background: linear-gradient(5deg, orange 20%, yellow 100%);
}

.Contact-Header1 {
  text-align: center;
  margin-top: 5%;
  font-size: 1.5rem;
}
.Contact-Header2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 7vh;
}
.Contact-Header2 a {
  color: black;
  text-decoration: none;
}
.Contact-Header2 span {
  font-size: 1rem;
  font-weight: 400;
}
.Contact-Form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 460px;
  height: 620px;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 18vh;
  border: rgba(0, 0, 0, 0.3) solid 1px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}
.Contact-Form-Header {
  font-size: 1.5rem;
  margin-top: 20px;
}
.Contact-Form input, textarea {
  font-size: 1rem;
  width: 90%;
  padding: 16px;
  background-color: white;
  outline: none;
  border: black solid 1px;
  border-radius: 8px;
  transition: 0.1s;
}
.Contact-Form input:focus, textarea:focus, .Contact-Submit input:hover {
  border: orange solid 1px;
}
.Contact-Submit {
  text-align: center;
  width: 30%;
}

.Footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 8vh;
  margin-top: auto;
  background-color: rgb(255, 255, 255);
  border-top: orange solid 2px;
}
.Footer-Full {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.Footer-Div {
  display: inline-flex;
  font-size: 1rem;
  color: black;
}
.Footer-Div a {
  color: black;
  font-weight: 600;
}
.Footer-Div a:visited a:active {
  color: inherit;
}
#Footer-Socials {
  display: inline-flex;
}
#Footer-Socials ul {
  list-style: none;
  display: inline-flex;
}
#Footer-Socials a {
  padding: 2px 5px;
  margin: 0 2px;
  border-radius: 8px;
  transition: 0.2s;
  color: black;
}
#Footer-Socials a:hover {
  background-color: yellow;
}